@import "tailwindcss";

:root {
  /* default fallbacks */
  --background: #f7f8f0;
  --foreground: #355872;
  --surface: #ffffff;
  --border: #7aaace;
  --accent: #7aaace;
  --accent-soft: #9cd5ff;
}

html[data-theme="light"] {
  /* light palette */
  --background: #f7f8f0; /* rgb(247, 248, 240) */
  --foreground: #355872; /* rgb(53, 88, 114) */
  --surface: #ffffff;
  --border: #7aaace; /* rgb(122, 170, 206) */
  --accent: #7aaace;
  --accent-soft: #9cd5ff; /* rgb(156, 213, 255) */
}

html[data-theme="dark"] {
  /* dark palette */
  --background: #222831; /* rgb(34, 40, 49) */
  --foreground: #dfd0b8; /* rgb(223, 208, 184) */
  --surface: #393e46; /* rgb(57, 62, 70) */
  --border: #948979; /* rgb(148, 137, 121) */
  --accent: #dfd0b8;
  --accent-soft: #948979;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-soft: var(--accent-soft);
  --font-sans: var(--font-space-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
}
